.pagination .page-item.disabled .page-link {
    pointer-events: none;
    color: #6c757d;
    background-color: #fff;
    border-color: #dee2e6;
  }
  
  .pagination .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .pagination .page-link {
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }
  
  .pagination .page-link:hover {
    color: #0056b3;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  