.custom-navbar {
    background-color: #222222; /* Custom color (green) */

}
.navbar-nav .nav-link {
    color: white !important; /* Link rengini beyaz yap */
    text-decoration: none !important; /* Altı çizili stili kaldır */
    font-weight: normal; /* İsterseniz font kalınlığını da ayarlayın */
}
  
  .navbar-nav .nav-link:hover {
    color: #cccccc !important; /* Hover (üzerine gelince) rengi */
}
